:root {
  --light-bg: #f6faff;
  --primary-100: #ffffff;
  --primary-200: #f6faff;
  --primary-700: #003f9c;
  --success-200: #d6f5d6;
  --success-700: #40bf40;
  --warning-200: #ffe6e6;
  --warning-700: #ed5e5e;
}

* {
  margin: 0;
  box-sizing: border-box;
}

HTML {
  background: var(--light-bg);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-700);
}

a {
  text-decoration: none;
  color: unset;
}
